ci-as-code/* @gajendran-egov
deploy-as-code/helm/.sops.yaml @gajendran-egov
deploy-as-code/egov-deployer/* @gajendran-egov

##Internal Env####
deploy-as-code/helm/environments/* @GhanshyamRawat-eGov @eGovMan @sathishp-eGov

