{{- with index .Values "cluster-configs" "secrets" "db" }}
{{- if index . "password" }}
---
{{- range $ns := .namespace }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ index $.Values "cluster-configs" "secrets" "db" "name" }}
  namespace: {{ $ns }}
type: Opaque
data:
  mongo-db-username: {{ index $.Values "cluster-configs" "secrets" "db" "mongo-db-username" | b64enc | quote }}
  mongo-db-password: {{ index $.Values "cluster-configs" "secrets" "db" "mongo-db-password" | b64enc | quote }}
  mongo-db-authenticated-uri: {{ index $.Values "cluster-configs" "secrets" "db" "mongo-db-authenticated-uri" | b64enc | quote }}
  username: {{ index $.Values "cluster-configs" "secrets" "db" "pg-username" | b64enc | quote }}
  password: {{ index $.Values "cluster-configs" "secrets" "db" "pg-password" | b64enc | quote }}
  flyway-username: {{ index $.Values "cluster-configs" "secrets" "db" "flywayUsername" | b64enc | quote }}
  flyway-password: {{ index $.Values "cluster-configs" "secrets" "db" "flywayPassword" | b64enc | quote }}
  druid_metadata_storage_connector_user: {{ index $.Values "cluster-configs" "secrets" "db" "druid_username" | b64enc | quote }}
  druid_metadata_storage_connector_password: {{ index $.Values "cluster-configs" "secrets" "db" "druid_password" | b64enc | quote }}
  druid_metadata_storage_connector_connectURI: {{ index $.Values "cluster-configs" "secrets" "db" "druid_connect_uri" | b64enc | quote }}
  metabase_connect_uri: {{ index $.Values "cluster-configs" "secrets" "db" "metabase_connect_uri" | b64enc | quote }}
  supersetdb-username: {{ index $.Values "cluster-configs" "secrets" "db" "supersetdb-username" | b64enc | quote }}
  supersetdb-password: {{ index $.Values "cluster-configs" "secrets" "db" "supersetdb-password" | b64enc | quote }}
  {{ if index $.Values "cluster-configs" "secrets" "db" "druid_s3_accessKey" }}
  druid_s3_accessKey: {{ index $.Values "cluster-configs" "secrets" "db" "druid_s3_accessKey" | b64enc | quote }}
  druid_s3_secretKey: {{ index $.Values "cluster-configs" "secrets" "db" "druid_s3_secretKey" | b64enc | quote }}
  {{- end }}
  keycloak-username: {{ index $.Values "cluster-configs" "secrets" "db" "keycloak-username" | b64enc | quote }}
  keycloak-password: {{ index $.Values "cluster-configs" "secrets" "db" "keycloak-password" | b64enc | quote }}
  {{ if index $.Values "cluster-configs" "secrets" "db" "druid_azure_key" }}
  druid_azure_key: {{ index $.Values "cluster-configs" "secrets" "db" "druid_azure_key" | b64enc | quote }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}

